html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    min-width: 1040px;
}
h1, h2 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 40px;
    margin-bottom: 0;
}
h2 {
    font-size: 325x;
}
body {
    width: 640px;
    min-width: 200px;
    margin: 100px auto auto auto;
    background-color: white;
    color: #060807;

    -moz-animation-name: fadeInOnLoad;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-funtion: ease-in;
    -moz-animation-duration: .3s;

    -webkit-animation-name: fadeInOnLoad;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .3s;

    animation-name: fadeInOnLoad;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}
a {
	text-decoration: none;
    color: #1A98C3;
}

a:hover{
    border-bottom: 1px solid;
}

.headerlinks ul{
    font-size: 20px;
    padding: 20px 20px 10px auto;
}
.headerlinks ul {
    margin-left: 3;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.headerlinks li{
    display: inline;
    margin-right:5px;
}
#project img {
    border: 1px solid;
    border-radius: 5px;
    color: #A79C94;
    width: 640px;
}
#project img:hover {
    color: #869695;
}

@-moz-keyframes fadeInOnLoad {
    0% {
        opacity: 0.5;
    }
    100% {
    	opacity: 1;
    }
}	
@-webkit-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}
@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}