html{
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    min-width: 640px;
    background-color: #FEFEFE;
}
body {
    font-family: 'Vollkorn', serif;
    font-size: 12px;
}
h1, h2 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 40px;
    margin-bottom: 0;
}
h2 {
    font-size: 30px;
    color: #444444;
    margin-top: 35px;
}
hr {
    color: #A79C94;
}
body {
    width: 640px;
    margin: 100px auto auto auto;
    color: #060807;

    -moz-animation-name: fadeInOnLoad;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-funtion: ease-in;
    -moz-animation-duration: .3s;

    -webkit-animation-name: fadeInOnLoad;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .3s;

    animation-name: fadeInOnLoad;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .3s;
}
a {
	text-decoration: none;
    color: #1A98C3;
}

a:hover{
    color: #126987;
}

.headerlinks ul{
    font-size: 20px;
    padding: 20px 20px 10px auto;
}
.headerlinks ul {
    margin-left: 3;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
}
.headerlinks li{
    display: inline;
    margin-right:5px;
}

.project h2 {
    margin-bottom: 5px;
}
.project img {
    border: 1px solid;
    border-radius: 5px;
    color: #1A98C3;
    width: 640px;
}
.project img:hover {
    color: #126987;
}

p.footer {
    font-family: 'Tahoma', sans-serif;
    font-size: 10px;
}

@-moz-keyframes fadeInOnLoad {
    0% {
        opacity: 0.5;
    }
    100% {
    	opacity: 1;
    }
}	
@-webkit-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}
@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}