html{
	background: url(../images/landscapenorway.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	border: 12px solid white;
}

body {
	-moz-animation-name: fadeInOnLoad;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-funtion: ease-in;
	-moz-animation-duration: .5s;

	-webkit-animation-name: fadeInOnLoad;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: .5s;

    animation-name: fadeInOnLoad;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: .5s;
}
ul {
	font-family: 'PT Sans', sans-serif;
	display: inline-block;
	position: absolute;
	top: 35;
	left: 35;
	font-size: 30;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	border-bottom: 5px solid;
}
li {
	display: inline-block;
	margin-right: 2px;
}
.logo{
	font-weight: bold;
}

@-moz-keyframes fadeInOnLoad {
    0% {
        opacity: 0.5;
    }
    100% {
    	opacity: 1;
    }
}	
@-webkit-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}
@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}