$color-text-dark: #444;
$color-text-light: #666;

$color-highlight: #36322E;
$color-background: #FFFFFF;
$color-light-gray: #DDD;
$color-white: #FFFFFF;

$color-project-hover: #DFDFDF;
$color-image-border: #DDD;
