$font-stack: Open Sans, sans-serif;
$h1-size: 3rem;
$h2-size: 2rem;

$std-pad: 15px;

$container-margin-top: 20px;
$container-margin-bottom: 30px;
$nav-margin-top: 15px;
$nav-margin-bottom: 15px;

$headerlinks-border-bottom-gap: 3px;
$headerlinks-top-gap: 7px;

$page-fade-in-time: 0.3s;

/* Thumbnail Gallery */
$flex-basis-default: 16rem;
$flex-basis-5n: 18rem;
$flex-basis-2n1: 20rem;
$flex-basis-7n4: 22rem;

$min-height-7n4: 17rem;
$thumbnail-min-width: 14rem;
$thumbnail-min-height: 15rem;
