/* Gallery flex code mostly copied from isomorphic500
 * http://bit.ly/1Mk8cU4
 */

@import 'config';
@import 'colors';

.travel-date {
    text-align: center;
    font-weight: 700;
    color: $color-text-dark;
}

.gallery-wrapper {
    margin-top: 30px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.gallery-title {
    margin-bottom: 5px;
    color: $color-text-light;
    text-align: center;
}

.gallery-description {
    color: $color-text-light;
    margin-bottom: 3px;
}

