@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
@import 'config';
@import 'skeleton';
@import 'colors';
@import 'Gallery';
@import 'Thumbnail';


body {
    margin: 0;
    padding: 0;

    /* Set standard font */
    font: 100% $font-stack;
    font-size: 16px;

    /* Set standard color for text */
    color: $color-text-dark;

    width: 100%;
    height: 100%;

    /* Fade in animation */
    -moz-animation-name: fadeInOnLoad;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-funtion: ease-in;
    -moz-animation-duration: $page-fade-in-time;

    -webkit-animation-name: fadeInOnLoad;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-duration: $page-fade-in-time;

    animation-name: fadeInOnLoad;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: $page-fade-in-time;
}

.container {
    /* Maximum width, on desktop */
    max-width: 680px;

    margin-top: $container-margin-top;
    margin-bottom: $container-margin-bottom;
}

/* Highlight colors */
*::selection {
    background: $color-highlight;
    color: $color-white;
}

.app {
    height: 100%;
}

h1, h2 {
    font-weight: 700;
}

h1 {
    font-size: $h1-size;
    margin: 0;
}

h2 {
    font-size: $h2-size;
    margin-bottom: 5px;
}

nav {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding-left: 15px;
    margin-bottom: $nav-margin-bottom;
}

nav a {
    color: $color-text-dark;
    padding-bottom: $headerlinks-border-bottom-gap;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover, .active {
    color: $color-text-dark;
    border-bottom: 3px solid $color-text-dark;
}

#name a:hover {
    text-decoration: none;
}

#name {
    display: inline-block;
    float: left;
}

.headerlinks {
    display: inline-block;
    float: right;
}

.headerlinks ul {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;

    /* Remove bullets from list */
    list-style-type: none;
    padding: $headerlinks-top-gap 0 10px 0;
    // border-top: 1px solid $color-light-gray;
    // border-bottom: 1px solid $color-light-gray;
}

.headerlinks li {
    display: inline;
    margin-right: 15px;
    margin-left: 2px;
    font-size: 1.75rem;
}

/* Individual project links and its image */
.project {
    padding: $std-pad;
    color: inherit;
    display: block;
    border-radius: 5px;
    margin-bottom: 2rem;
    text-decoration: none;
}

.project:hover {
    color: inherit;
    background-color: $color-project-hover;
}

.project img {
    border: 1px solid $color-image-border;
    border-radius: 5px;
}

.project-description {
    color: $color-text-light;
}

footer {
    /* background-color: $color-text-dark; */
    /* color: #ddd; */
    padding: 0px 20px 0px 20px;
    font-size: 1.25rem;
}

.footer-container {
    padding: 0 $std-pad 0 $std-pad;
}

/* About Me avatar image */
#avatar {
    width: 240px;
    display: block;
    margin: auto auto 30px auto;
}

/* Content container */
.content {
    padding: 15px;
}

.about a, footer a {
    font-weight: 600;
    color: inherit;
    text-decoration: none;
}

.about a:hover, footer a:hover {
    text-decoration: underline;
    color: inherit;
}

@media only screen and (max-width: 595px) {
    #name,
    .headerlinks {
        display: block;
        float: none;
    }
}

/* Smartphone CSS */
@media only screen and (max-width: 375px) {
    .content,
    .footer-container {
        padding: 0;
    }
    .project {
        padding: 15px;
        border: 1px solid #DDD;
    }
    body {
        font-size: 12px;
        margin-top: 15px;
    }
    nav {
        padding: 0px;
    }
    .about {
        padding: 0px;
    }
    footer {
        /* padding: 30px 0px 30px 0px; */
    }
}

/* Fade in on load animation definitions */
@-moz-keyframes fadeInOnLoad {
    0% {
        opacity: 0.5;
    }
    100% {
    	opacity: 1;
    }
}
@-webkit-keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}
@keyframes fadeInOnLoad {
    0% {
        opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}

